.navigation {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  background: #f1faee;
}

@media (max-width: 390px) {
  .navigation {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navigation {
    font-size: 18px;
  }
}

@media (max-width: 1040px) {
  .navigation {
    font-size: 14px;
  }
}
